.loading-button-host {
    text-align: center;
}
.loading-button.on-loading,
.loading-button.on-loading:hover,
.loading-button.on-loading:active {
    background-image:url('/images/loading.svg');
    border-style:none;
    color: transparent;
    text-decoration: none;
    background-color:transparent !important;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 10px;
}


.alert {
    z-index: 10;
    opacity: 60%;
}

.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}

.centered{
    float: none;
    margin: 0 auto;
    width: 100px;
}
